---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About the project'>
  <h2 class='text-3xl font-bold'>About the project</h2>
  <p>SpaceX Launches is a project made as part of the MiduLive Astro Tutorial</p>
</Layout>
