---
import Launches from '../components/Launches.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='SpaceX Launches 🚀'>
  <h2 class='text-3xl font-bold text-center'>Latest launches</h2>
  <Launches />
</Layout>
