---
import Launches from '../components/Launches.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Oldest Launches'>
  <h2 class='text-3xl font-bold text-center'>Oldest launches</h2>
  <Launches oldest />
</Layout>
