<header class='py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6'>
  <div class='mx-auto text-center mb-8 lg-mb-16'>
    <h1 class='mb-4 text-5xl tracking-tight font-extrabold'>SpaceX Launches 🚀</h1>
    <p class='font-light text-gray-500 sm:text-xl dark:text-gray-400'>
      All the information about SpaceX launches
    </p>
  </div>
  <nav class='flex flex-col items-center justify-between w-full text-center md:flex-row'>
    <a href='/'>Latest launches</a>
    <a href='/oldest'>Oldest launches</a>
    <a href='/about'>About the project</a>
  </nav>
</header>
