---
import { type SpaceXResponse } from '../types/SpaceXResponse';

const res = await fetch('https://api.spacexdata.com/v5/launches/query', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({
    query: {},
    options: {
      sort: {
        date_unix: 'desc',
      },
      limit: 10,
    },
  }),
});
const { docs } = (await res.json()) as SpaceXResponse;
---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3 text-center mt-8'>
  {docs.map(doc => <p>{doc.name}</p>)}
</div>
